<style type="text/css">
    .login-box {
        margin: 50px 0px 0px 20px;
        width: 300px;
        max-width: 100%;
    }
</style>
{% extends '../base_public.html' %}
{% load staticfiles %}
{% block body %}
<!-- <div class="container" style="margin-bottom:70px;">
        <nav class="navbar">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    My nice app
                </a>
                <a class="navbar-item is-hidden-desktop" href="https://github.com/RuinSain" target="_blank">
          <span class="icon" style="color: #333;">
            <i class="fa fa-github"></i>
          </span>
                </a>
    
                <div class="navbar-burger burger" onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
    
            <div  class="navbar-menu">
                <div class="navbar-start">
                    <a href="/archive" class="nav-item is-tab">All Articles</a>
    
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link " href="http://bulma.io/blog/">
                            Blog
                        </a>
                        <div  class="navbar-dropdown " data-style="width: 18rem;">
    
                            <a class="navbar-item" href="/2017/03/10/new-field-element/">
                                <div class="navbar-content">
                                    <p>
                                        <small class="has-text-info">10 Mar 2017</small>
                                    </p>
                                    <p>New field element (for better controls)</p>
                                </div>
                            </a>
    
                            <a class="navbar-item" href="/2016/04/11/metro-ui-css-grid-with-bulma-tiles/">
                                <div class="navbar-content">
                                    <p>
                                        <small class="has-text-info">11 Apr 2016</small>
                                    </p>
                                    <p>Metro UI CSS grid with Bulma tiles</p>
                                </div>
                            </a>
    
                            <hr class="navbar-divider">
                            <div class="navbar-item">
                                <div class="navbar-content">
                                    <div class="level is-mobile">
                                        <div class="level-left">
                                            <div class="level-item">
                                                <strong>Stay up to date!</strong>
                                            </div>
                                        </div>
                                        <div class="level-right">
                                            <div class="level-item">
                                                <a class="button is-rss is-small" href="http://bulma.io/atom.xml">
                          <span class="icon is-small">
                            <i class="fa fa-rss"></i>
                          </span>
                                                    <span>Subscribe</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="navbar-end">
                    <a class="navbar-item" href="/register">
                    </a>
                    <a class="navbar-item" href="/login">
                        Login
                    </a>
                   
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link">User</a>
                            <div class="navbar-dropdown">
                                <a href="#" class="navbar-item">My Profile</a>
                                <a href="#" class="navbar-item"
                                  
                   >Logout</a>
                                <form id="logout-form" action="" method="#" style="display: none;"></form>
                            </div>
                        </div>
                </div>
            </div>
        </nav>
    </div> -->
<div class="container">
    <div class="login-box">
        <h1>Login</h1>
        <br>
        <form class="controls" method="post">
        {% csrf_token %}
        Username:
        <input class="label input" id="id_username" name="username" type="text" /> 
        Password:
        <input class="label input" id="id_password" name="password" type="password" /> 
        {{ form.errors }}
        <button class="button" type="submit">Login</button>
        </form>
<!-- 
        <p>Forgot password?</p> -->
    </div>
</div>
{% endblock %}