<style type="text/css">
    .login-box {
        margin: 50px 0px 0px 20px;
        width: 300px;
        max-width: 100%;
    }
    .username{
        text-transform: lowercase;
    }
</style>
{% extends '../base_public.html' %}
{% load staticfiles %}
{% block body %}
<script>
    function convert(){
        var str ;
        str = document.getElementById("id_username");
        str.value = (str.value.toLowerCase());
    
        var form = document.getElementById("login");
        form.submit();
    }
</script>
<div class="container">
    <div class="login-box">
        <h1>Login</h1>
        <br>
        <form class="controls" method="post" id="login">
        {% csrf_token %}
        Username:
        <input class="label input" id="id_username" name="username" type="text"/> 
        Password:
        <input class="label input" id="id_password" name="password" type="password" /> 
        {{ form.errors }}
        <button class="button" type="submit" onclick="convert()">Login</button>
        </form>
<!-- 
        <p>Forgot password?</p> -->
    </div>
</div>
{% endblock %}