<style type="text/css">
    .profile_lteam {
        width: 30px;
    }

    tr:hover {
        background-color: rgb(240, 240, 240);
    }

    th {
        color: white !important;
        background-color: rgb(75, 75, 75);
    }

    .text_search {
        margin-right: 10px;
    }
</style>
{% extends user.is_authenticated|yesno:"base.html,base_public.html" %}
{% load staticfiles %}
{% block body %}
{% load widget_tweaks %}
<div class="container">
    <br><br>
    <strong style="font-size:2em;">
        Find Team
    </strong>
    <br><br>
    <div>
        <form method="get">
                {% for field in filter.form %}
                    {{ field.label_tag }}
                    {{ field|add_class:"label input" }}
                {% endfor %}
                
                <button type="submit" class="button">Search</button>
        </form>
    </div>
    <br><br>
    <table class="table is-fullwidth">
        <tr>
            <th>Profile</th>
            <th>Name</th>
            <th>Games</th>
        </tr>
        {% for team in filter.qs %}
        <tr onclick="document.location = '/team/team_info/{{ team.pk }}/';">
            <td><img class="profile_lteam" src="{{ team.img.url }}" alt=""></td>
            <td>{{ team.name }}</td>
            <td><img class="profile_lteam" src="{{ team.game.img.url }}" alt="">{{team.game.name}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}