{% extends user.is_authenticated|yesno:"base.html,base_public.html" %}
{% load staticfiles %}
{% block body %}

<div class="container"><br>
    
        <div class="columns is-multiline">
            <div class="column is-one-quarter"><center><img class="image is-128x128" src="{{team.img.url}}" alt="" width="100px;"></center></div>
            <div class="column is-four-fifths" style="font-size:2em;">
                <p>
                <h1 class="title is-1">{{ team.name }}</h1>
                <h6 class="subtitle is-6">{{team.game.name}}<br><a href="{{team.website}}">{{team.website}}</a></h6>
                {% ifequal ck_founder 1 %}
                <a href="{% url 'team:team_editinfo' team.pk %}"><button class="button" >Edit Info</button></a>
                {% endifequal %}
            </p>
            </div>
                
                <div class="column is-full notification">
                        <div class="column is-full">
                                <p><h4 class="title is-4">Bio</h2></p>
                               {{ team.description }}
                        </div>
                        
                        <div class="column is-full">
                                <p><h4 class="title is-4">Manager</h2></p>
                            <div class="columns">
                                    {% if team_manager %}
                                    {% for member in team_manager %}
                                <div class="column is-one-quarter">
                                    
                                        <figure class="image is-128x128">
                                            <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                                        </figure>
                                        <a href="{% url 'member:player' member.member.pk %}">{{member.member.userprofile.codename}}</a>
                                </div>
                                {% endfor %}
                            {% else %}
                            <div class="column is-one-quarter"> 
                                    <p>None</p>
                            </div>
                            
                            {% endif %}
                            </div>
                        </div>
                        <div class="column is-full">
                                <p><h4 class="title is-4">Player</h2></p>
                                <div class="columns">
                                        {% if team_member %}
                                        {% for member in team_member %}
                                    <div class="column is-one-quarter">
                                            <center>
                                                    <a href="{% url 'member:player' member.member.pk %}"><figure class="image is-128x128">
                                                <img class="is-rounded" src="{{member.member.userprofile.profile_img.url}}">
                                            </figure>
                                            {{member.member.userprofile.codename}}
                                            <br>
                                            @{{member.member.username}}</a>
                                        </center>
                                    </div>
                                    {% endfor %}
                                {% else %}
                                None
                                {% endif %}
                                </div>
                            </div>
                </div>
                
        
            
        </div>
    <div>
            <!-- <p>Manager</p>
            <ul>
                {% if team_manager %}
                {% for member in team_manager %}
                <li>
                   <a href="{% url 'member:player' member.member.pk %}">{{member.member.userprofile.codename}}</a>
                </li>
                {% endfor %}
                {% else %}
                <li>None</li>
                {% endif %}
            </ul> -->
        <!-- <p>Player</p>
        <ul>
            {% for member in team_member %}
            <li>
                <a href="{% url 'member:player' member.member.pk %}">{{member.member.userprofile.codename}}</a>
            </li>
            {% endfor %}
        </ul> -->
    <!-- </div> -->
</div>

{% endblock %}