{% extends user.is_authenticated|yesno:"base.html,base_public.html" %}
{% load staticfiles %}
{% block body %}

<div class="container">
    <br><br>

<p style="font: size 2em !important;">Fifa Online 4 กับทีมไอนีทโมจิ!</p>
<p>ทีม ไอนีทโมจิ</p>
<img src="#" alt="">
<p> Description</p>
<P>
    รับสมัครนักกีฬา E-Sports เกมส์ Fifa Online 4 กับทีมไอนีทโมจิ สนับสนุนโดย
    โมจิวัฒนพร
    <br>
    เงินเดือน : 9,000 บาท
</P>
ิ<br>
<p>Start Date : <div>10 August 2018</div></p>
<br>
<p>End Date : <div>20 November 2018</div></p>
</div>
{% endblock %}