<style type="text/css">
    .status {
        background-color: #eeeeee;
        margin: 10px 0px 10px 0px !important;
    }

</style>
{% extends user.is_authenticated|yesno:"base.html,base_public.html" %}
{% load staticfiles %}
{% block body %}
<br><br>
<div class="container">
    <div class="columns">
        <div class="column" style="background-color:#dbdbdb;">
            {% for post in feed %}
            <div class="columns status">
                <div class="column is-1"><img src="{{ post.poster.userprofile.profile_img.url}}" alt=""></div>
                <div class="column">
                    <p><a href="{% url 'member:player' post.poster.pk %}"><strong>{{ post.poster.first_name }} {{ post.poster.last_name}}</strong></a></p>
                    <p>{{post.datetime}}</p>
                    <p>{{post.msg}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="column is-one-quarter" style="background-color:#dfbdbd;">
            <br>
            <p>Navigate
            </p><br>
            <p>Navigate
            </p><br>
            <p>Navigate
            </p><br>
            <p>Navigate
            </p><br>
        </div>
    </div>
</div>

{% endblock %}