<style type="text/css">
    .status {
        background-color: #eeeeee;
        margin: 10px 0px 10px 0px !important;
        
    }
    

</style>
{% extends user.is_authenticated|yesno:"base.html,base_public.html" %}
{% load staticfiles %}
{% block body %}
<br><br>
<div class="container">
    <div class="columns">
        <div class="column">
            {% for post in feed %}
            <div class="columns status">
                <div class="column is-1"><img src="{{ post.poster.userprofile.profile_img.url}}" alt=""></div>
                <div class="column">
                    <p><a href="{% url 'member:player' post.poster.pk %}"><strong>{{ post.poster.first_name }} {{ post.poster.last_name}}</strong></a></p>
                    <p>{{post.datetime}}</p>
                    <p>{{post.msg}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="column is-one-quarter" style="background-color:#dfbdbd;">
            <br>
            <iframe src="http://us1.rssfeedwidget.com/getrss.php?time=1542792570659&amp;x=http%3A%2F%2Ffeeds.ign.com%2Fign%2Fnews&amp;w=200&amp;h=500&amp;bc=333333&amp;bw=1&amp;bgc=transparent&amp;m=20&amp;it=true&amp;t=(default)&amp;tc=333333&amp;ts=15&amp;tb=transparent&amp;il=true&amp;lc=0000FF&amp;ls=14&amp;lb=false&amp;id=true&amp;dc=333333&amp;ds=14&amp;idt=true&amp;dtc=284F2D&amp;dts=12" border="0" hspace="0" vspace="0" frameborder="no" marginwidth="0" marginheight="0" style="border:0; padding:0; margin:0; width:auto; height:500px;" id="rssOutput">Reading RSS Feed ...</iframe>
        </div>
    </div>
</div>

{% endblock %}