<style type="text/css">
    .profile {
        /* background-color: #f1e7e7; */
        padding: 70px 0px 30px 30px !important;
        color: #464646;
        background-color: #f0f0f0;

    }

    .columns {
        margin: 0px !important;
    }

    .column {

        padding: 0px !important;
    }

    .logo {
        width: 20px
    }

    .Heading_Profile {
        font-size: 1.3em;
    }

    body {
        background-color: #f0f0f0;
    }

    .post {
        background-color: #f7f7f7;
    }

    .status {
        background-color: #ebebeb;
        margin: 10px 0px 10px 0px !important;
    }

</style>
{% extends user.is_authenticated|yesno:"base.html,base_public.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load readmore %}
{% block body %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
    function modal1 () {
        $('#following').toggleClass('is-active');
    };
    function modal1Close(){
        $('#following').removeClass('is-active');
    }
    function modal2 () {
        $('#followers').toggleClass('is-active');
    };
    function modal2Close(){
        $('#followers').removeClass('is-active');
    }
</script>

<div id="following" class="modal">
        <div onclick="modal1Close.call(this)" class="modal-background"></div>
          <div class="modal-content">
                <div class="modal-card-body">
                {% for p in following %}
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-64x64">
                            <img src="{{p.following.userprofile.profile_img.url}}" alt="Image">
                        </figure>
                    </div>
                    <div class="media-content">
                        <div class="content">
                            <p>
                            <a href="{% url 'member:player' p.following.pk %}"><strong>{{p.following.first_name}} {{p.following.last_name}}</strong> <br><small>@{{p.following.username}}</small></a>
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <button onclick="modal1Close.call(this)" class="modal-close is-large" aria-label="close"></button>
        </div>
    </div>
<div id="followers" class="modal">
    <div onclick="modal2Close.call(this)" class="modal-background"></div>
      <div class="modal-content">
            <div class="modal-card-body">
            {% for p2 in follower %}
            <div class="media">
                <div class="media-left">
                    <figure class="image is-64x64">
                        <img src="{{p2.follower.userprofile.profile_img.url}}" alt="Image">
                    </figure>
                </div>
                <div class="media-content">
                    <div class="content">
                        <p>
                        <a href="{% url 'member:player' p2.follower.pk %}"><strong>{{p2.follower.first_name}} {{p2.follower.last_name}}</strong> <br><small>@{{p2.follower.username}}</small></a>
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <button onclick="modal2Close.call(this)" class="modal-close is-large" aria-label="close"></button>
    </div>
</div>

<div class="container" style="background-color:#f7f7f7">
    <div class="columns" >
        <div class="column is-3" >
        
            <div class="profile" style="background-color:#f7f7f7">
                    <nav class="level">
                            <div class="level-item has-text-centered">
                              <div>
                                <a onclick="modal1.call(this)"><p class="heading">Following</p>
                                <p class="title">{{following_len}}</p></a>
                              </div>
                            </div>
                            <div class="level-item has-text-centered">
                              <div>
                                <a onclick="modal2.call(this)"><p class="heading">Follower</p>
                                <p class="title">{{follower_len}}</p></a>
                              </div>
                            </div>
                          </nav>
                
                <center><img src="{{ user.userprofile.profile_img.url }}" style="width: 80%;" alt="">
                {% if ck_follow %}
                <a href="{% url 'member:unfollow' user.pk %}" class="button is-rounded">Unfollow</a>
                {% else %}
                <a href="{% url 'member:following' user.pk %}" class="button is-rounded">Follow</a>
                {% endif %}
                <form method="post" action="{% url 'member:send_mail' %}">
                    {% csrf_token %}
                    <input type="hidden" name="reciever" value="{{ user.username }}"></input>
                    <button type="submit" class="button" >Mail</button>
                </form>
                </center>
                <br>
                <p style="font-size:1.6em;margin-top: 20px;">
                        
                    {{user.first_name}} {{user.last_name}}
                </p>
                <p>
                    @{{user.username}}
                </p><br>
                <!-- <p class="Heading_Profile">
                    Game
                </p> -->
                <p>
                    <img src="{{ user.userprofile.game.img.url }}" class="logo"> {{user.userprofile.game.name}} [{{user.userprofile.rank}}]
                </p>
                <br>
                <p>Role: {{user.userprofile.role.name}}</p>
                <br>
                <div>
                    <!-- <p class="Heading_Profile">Live Stream</p> -->
                    <p><img class="logo" src="{% static 'img/logo/twitch.png' %}" alt=""><a href="http://www.twitch.com/{{user.userprofile.streaming}}">{{user.userprofile.streaming}}</a></p>
                </div>
                <br><br><br>
            </div>
        </div>
        <div class="column post">
            <img src="{{ user.userprofile.cover_img.url }}" width="100%" style="padding:10px;" alt="">
            <!-- post status input -->
            <!-- section -->
            {% for post in post_list %}
            <div class="columns status" style="padding:10px !important;">
                <div class="column is-1"><img src="{{ user.userprofile.profile_img.url }}" alt=""></div>
                <div class="column" style="padding:12px !important;">
                    <p><strong>{{post.poster.first_name}} {{post.poster.last_name}}</strong></p>
                    <p>{{ post.datetime}}</p>
                    <p>{{ post.msg|readmore:150 }}</p>
                

                </div>
            </div>
            {% endfor %}
            <!-- section -->
            
            <!-- section -->
        </div>
    </div>
</div>
{% endblock %}